.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data-table {
  width: 100%;
  border-collapse: collapse; /* สำคัญมาก */
  margin-top: 12px;
  border: 1px solid #333; /* ขอบรอบตาราง */
}

.data-table th,
.data-table td {
  border: 1px solid #333; /* ขอบทุกช่อง */
  padding: 8px 10px;
}

.data-table th {
  background-color: #f3f4f6;
  text-align: center;
  font-weight: bold;
}

.data-table td {
  text-align: right;
}

.data-table td:first-child {
  text-align: center;
}
